/* MessagesComponent's private CSS styles */
h2 {
  color: var(--textcolor1);
  font-weight: lighter;
}
button {
  background-color: var(--mainbackground2);
  min-width: min-content;
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--outlinecolor);
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
