table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 80%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 8px 0 rgba(0, 0, 0, 0.05);
  font-size: 12px;
  overflow: hidden;
  border-radius: 0.4rem;
}
table {
  margin-left: 70px;
}
table th {
  display: flexbox;
  width: calc(80% / 4);
  box-flex-group: 1 1 1 1;
  font-size: 16px;
  font-weight: 550;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  border-bottom: 1px solid #6b6b6b15;
}
table td {
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.05);
  text-align: center;
  padding-left: 0px;
  color: black;
}
.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  background: var(--mainbackground1);
  color: var(--textcolor1) !important;
}
button .mat-focus-indicator:disabled {
  background-color: var(--mainbackground1);
  color: var(--textcolor1);
}
